<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversor de Planilhas</title>
    <!-- Bootstrap core CSS -->
    <link href="../utils/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <!--Jquery-->
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script type="text/javascript" src="../utils/download-1.4.7/download.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    // The event listener for the file upload
    document.getElementById('txtFileUpload').addEventListener('change', upload, false);

    // Method that checks that the browser supports the HTML5 File API
    function browserSupportFileUpload() {
        var isCompatible = false;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
        isCompatible = true;
        }
        return isCompatible;
    }



    // Method that reads and processes the selected file
    function upload(evt) {
        if (!browserSupportFileUpload()) {
            alert('The File APIs are not fully supported in this browser!');
            } else {
                var data = null;
                var file = evt.target.files[0];
                var reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function(event) {
                    var csvData = event.target.result;
                    data = $.csv.toArrays(csvData);
                    if (data && data.length > 0) {
                        var csvTeste = 'origem;tempo;tentativa\n';
                        for (i=1; i < data.length; i++) {
                            csvTeste += (data[i][0] + ";" + data[i][1]+ ";" + data[i][2] + "\n");
                        }

                        console.log(csvTeste);
                        //download("hello world", "dlText.txt", "text/plain");
                        download( csvTeste, "databaseMonitor.csv", "text/plain" );

                        alert('Imported -' + data.length + '- rows successfully!');
                        } else {
                            alert('No data to import!');
                        }
                    };
                reader.onerror = function() {
                    alert('Unable to read ' + file.fileName);
                };
            }
        }
    });
</script>
</head>
<body>
<div id="dvImportSegments" class="fileupload ">
    <fieldset>
        <legend>Upload your CSV File</legend>
        <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />
    </fieldset>
</div>
<div>
    <button onclick="">Download File</button>
</div>
</body>
</html>